<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EconoMe</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--<base th:href="${#request.getContextPath()}">-->

    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">EconoMe</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form" >
        <input name="username" placeholder="UserName"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="Password"  type="password" class="layui-input">
        <hr class="hr15">
        <input value="Login" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
    <div><!--class="bottom-link" -->
        Do not have an account? <a href="/register.html" class="_j_go_register"> Free Account</a>
    </div>
</div>


<script>
    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(login)', function(data){
                $.post("login.do",data.field,function(res){
                    if(res.code == 200){
                        layer.msg("Waiting...",{time:800},function () {
                            top.location.href='pages/index';
                        });
                    }else {
                        layer.msg("Type Error")
                    }
                },"json");
                return false;
            });
        });
    })


</script>

</body>
</html>
